
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: "Montserrat";
}

/* Header */
header {
    & a {
        color: #ffffff;
        text-decoration: none;
        transition: 0.3s;
    }
}

a:hover{
    opacity: 0.7;
}

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: bold;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #601682;
    height: 8vh;
}

.nav-list{
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
    font-weight: bold;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}

@media (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 100%;
        background-color: #601682;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }
    .mobile-menu {
        display: block;
    }

    .produtos {
        flex-direction: column; 
        align-items: center;
        text-align: center;
    }

    .produtos-info {
        align-items: center;
    }

    .produtos-info h1 {
        font-size: 20px;
    }

    .preco {
        font-size: 22px;
    }

    .contato {
        text-align: center;
    }

    .btn {
        width: 100%;
        max-width: 250px;
    }

    .img-produto {
        width: 10vh;
        justify-content: left;
        height: auto;
        max-width: 100vh;
    }

    .img-banner{
        width: 100vw;
        max-width: 100%;
        height: auto;
    }

    .h1-produtos {
        padding-left: 20px;
    }

    .container-post-insta {
        flex-direction: column;
        align-items: center;
    }

    .post-insta {
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
    }

    .img-post-insta {
        width: 40vw;
        max-width: 150px;
    }


}

.nav-list.active {
    transform: translatex(0);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active.line3 {
    transform: rotate(454deg) translate(-5px, -7px);
}

/* Fim do Header */

.img-banner {
    height: auto;
    width: 100vw;
}

.h1-produtos {
    padding-left: 20px;
    color:#601682;
    padding-top: 50px;
    font-size: 45px;
    padding-bottom: 30px;
    text-align: center;
}

.bloco-produtos{
    width: 270px;
    display: block;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    border: solid 2px, #601682;
    border-radius: 20px;
    margin-bottom: 30px;
    margin: 30px 30px 30px 30px;
}

.foto-do-produto{
    margin-top: 10px;
    width: 250px;
    height: 250px;
    border-radius: 30px;
}

.produtos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.produtos-container h2 {
    color: #601682;
    text-align: center;
    margin-bottom: 20px;
}

/* Imagem do Produto */
.produtos {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 40px auto;
    max-width: 1450px;
    padding: 20px;
}

.container-img {
    flex: 1;
    text-align: left;
}


.img-principal {
    width: 10%;
    max-width: 50px;
    justify-content: left;
    display: block;
}

/* Container - Direita */
.produtos-info {
    padding-top: 50px;
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.produtos-info h1 {
    font-size: 24px;
    margin-bottom: 10px;
    padding-bottom: 20px;
}

.preco-produto {
    color: #601682;
    font-size: 26px;
    font-weight: bold; 
}

.parcelas {
    padding-top: 4px;
    font-size: 14px;
}

/* Contato */
.contato {
    padding-top: 80px;
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 30px;
    background: #fff;
}

.btn {
    display: inline-block;
    margin: 10px 5px 0;
    padding: 12px 20px;
    border-radius: 30px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

.whatsapp {
    background: #3FD05A;
}

.email {
    background: #D23C3F;
}

/* Descrição */
.descricao {
    max-width: 1000px;
    margin: 60px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 30px;
}

.descricao h2 {
    font-size: 22px;
    margin-bottom: 20px;
}

.ficha {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
}

.ficha li {
  flex: 1 1 200px;
  font-size: 14px;
  background: #f9f9f9;
  padding: 10px;
  border-radius: 8px;
}

.text-description {
    text-align: justify;
}



/* Container - Instagram */
.container-instagram {
    width: 100vw;
    height: 60vh;
    background-color: #601682;
    color: #fff;
    text-align: center;
    padding: 50px;
    justify-content: center;
}

.h2-insta {
    font-size: 28px;
    padding-bottom: 30px;
}

.text-insta {
    text-align: center;
    font-size: 20px;
}

.container-post-insta {
    padding: 30px;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}

.post-insta {
    display: flex;
    width: 45vw;

}

.img-post-insta {
    width: 10vw;
    margin: 12px;
    border-radius: 10px;
}

.botao-insta {
    background-color: #fff;
    color: #601682;
    font-weight: bold;
    padding: 20px;
    border-radius: 30px;
    font-size: 14px;
}


/* Container - Maps */
.container-maps {
    width: 100vw;
    height: 45vh;
}








/* Footer */
.footer-personalizado {
    background-color: #601682;
    color: white;
    font-family: "Open Sans", sans-serif;
    padding: 40px 20px 10px;
}
  
.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;
    max-width: 1200px;
    margin: auto;
    text-align: left;
}
  
.footer-coluna {
    flex: 1 1 200px;
    min-width: 200px;

    & h3 {
        margin-bottom: 8px;
    }
}
  
.footer-logo {
    width: 80px;
    margin-bottom: 10px;
}
  
.footer-descricao {
    font-size: 14px;
    max-width: 250px;
}
  
.footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
.footer-links li {
    margin-bottom: 8px;
}
  
.footer-links a {
    color: white;
    text-decoration: none;

}
  
.footer-links a:hover {
    text-decoration: underline;
}
  
.icone-rede {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-top: 10px;
}
  
.footer-rodape {
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding-top: 10px;
}